@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Livraria</h1>
    <p>Nome: @Model.Nome </p>
    <span>Email: @Model.Email </span>
</div>
