@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p> <b> Criando um Sistema do Zero - ASP.NET MVC </b> </p>

<ul class="list-group">

  <li class="list-group-item"> <b> => 12 - </b> Tela para redefinir Senha ?? </li>
  <li class="list-group-item"> <b> 11 - </b> Criptografia senha dos usuarios </li>
  <li class="list-group-item"> <b> 10 - </b> Controle de Perfil de Usuario (adm / padrão) </li>
  <li class="list-group-item"> <b> 9 - </b> Criar sessão do usuario (logado / sair) -> Componentes (sidebar)  </li>
  <li class="list-group-item"> <b> 8 - </b> Function Alterar e Excluir usuarios & TELA de Login funcional </li>
  <li class="list-group-item"> <b> 7 - </b> Function cadastar usuarios para tela de Login </li>
  <li class="list-group-item"> <b> 6 - </b> Filtro, paginação e pesquisa Data Table </li>
  <li class="list-group-item"> <b> 5 - </b> Validações dos dados inseridos e mensgens de sucesso ou erro </li>
  <li class="list-group-item"> <b> 4 - </b> Function Alterar e Excluir contatos </li>
  <li class="list-group-item"> <b> 3 - </b> Buscar dodos do Banco e Function Criar </li>
  <li class="list-group-item"> <b> 2 - </b> Lista de contatos e criando banco SQL (TELAS criar, alterar e deletar) </li>
  <li class="list-group-item"> <b> 1 - </b> Criando Projeto ligando a model </li>

</ul>



