@{
    ViewData["Title"] = "Confirmação apagar Contato";
}

<div class="text-center">

    <h3>Confirmar exclusão?</h3>

</div>

    <a class="btn btn-primary d-grid gap-2" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger d-grid gap-2" role="button">Confirmar exclusão</a>